.logo
{
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 30px;
    top: 21px;

    background: url('./../imgs/logo.png');
    background-position: center;
    background-size: cover;

    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.57);
    border-radius: 11px;
}

.loungeLink
{
    box-sizing: border-box;
    justify-content: left;

    width: 9vw;
    height: 45vh;
    margin-right: 10px;

    background-position: center;
    background-size: contain;

    /* background-color: red; */
    background: url('./../imgs/lounge.jpg');
    background-position: center;
    background-size: cover;

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    border-radius: 1vw;
}

.gamingRoomLink
{
    box-sizing: border-box;
    width: 32vw;
    height: 22vh;
    /* background-color: purple; */
    background: url('./../imgs/gamingRoom.jpg');
    background-position: center;
    background-size: cover;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    
    border-radius: 1vw;
    margin-bottom: 10px;
}

.gameConsoleRoomLink
{
    box-sizing: border-box;

    width: 32vw;
    height: 22vh;

    /* background-color: black; */

    background: url('./../imgs/gameConsoleRoom.jpg');
    background-position: center;
    background-size: cover; 

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    border-radius: 1vw;
}

.labelRoomVert
{
    position: absolute;
    left: 5%;
    bottom: 2%;
    color:#FFFFFF;

}

.labelRoomHoriz
{
    position: absolute;
    left: 2%;
    bottom: 3%;
    color:#FFFFFF;

}

.labelText
{
    font-size: large;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #091aaf 29%,
    #00ffff 67%,
    #b3f0ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* the code you want is around line 45  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: #ebf3ff;
}

.container {
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.hover-container {
  text-align: center;
  margin-bottom: 2em;
}

.body-text {
  margin: 0.5em 0;
}

/* --- this is the code you probably want ---- */

.mya {
  border-bottom: 1.5px solid #FFFF;
  /* font-size: 3em; */
  transition: all 0.25s linear;
  position: relative;
}

.mya:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.mya:hover:before {
  transform: scale(1);
}