.logo
{
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 30px;
    top: 21px;

    background: url('./../imgs/logo.png');
    background-position: center;
    background-size: cover;

    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.57);
    border-radius: 11px;
}

.loungeLink
{
    box-sizing: border-box;
    justify-content: left;

    width: 9vw;
    height: 45vh;
    margin-right: 10px;

    background-position: center;
    background-size: contain;

    /* background-color: red; */
    background: url('./../imgs/lounge.jpg');
    background-position: center;
    background-size: cover;

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    border-radius: 1vw;
}

.gamingRoomLink
{
    box-sizing: border-box;
    width: 32vw;
    height: 22vh;
    /* background-color: purple; */
    background: url('./../imgs/gamingRoom.jpg');
    background-position: center;
    background-size: cover;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    
    border-radius: 1vw;
    margin-bottom: 10px;
}

.gameConsoleRoomLink
{
    box-sizing: border-box;

    width: 32vw;
    height: 22vh;

    /* background-color: black; */

    background: url('./../imgs/gameConsoleRoom.jpg');
    background-position: center;
    background-size: cover; 

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    border-radius: 1vw;
}

.labelRoomVert
{
    position: absolute;
    left: 5%;
    bottom: 2%;
    color:#FFFFFF;

}

.labelRoomHoriz
{
    position: absolute;
    left: 2%;
    bottom: 3%;
    color:#FFFFFF;

}

.labelText
{
    font-size: large;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #091aaf 29%,
    #00ffff 67%,
    #b3f0ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* the code you want is around line 45  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: #ebf3ff;
}

.container {
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.hover-container {
  text-align: center;
  margin-bottom: 2em;
}

.body-text {
  margin: 0.5em 0;
}

/* --- this is the code you probably want ---- */

.mya {
  border-bottom: 1.5px solid #FFFF;
  /* font-size: 3em; */
  transition: all 0.25s linear;
  position: relative;
}

.mya:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.mya:hover:before {
  transform: scale(1);
}



/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
div.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}
h4.title {
	text-align: center;
	margin-bottom: 45px;
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}